api_platform:
    title: Knarf Media API
    version: 1.0.0
    show_webby: false
    # Mercure integration, remove if unwanted
    mercure: ~
    # Good defaults for REST APIs
    defaults:
        stateless: true
        cache_headers:
            vary: ['Content-Type', 'Authorization', 'Origin']
        extra_properties:
            standard_put: true            
    swagger:
         api_keys:
             JWT:
                name: Authorization
                type: header
    patch_formats:
        multipart: ['multipart/form-data']        
        json:     ['application/merge-patch+json']
        
    eager_loading:
        max_joins: 100
        fetch_partial: true
        force_eager: false